.header {
  display: flex;
}

.journal-form {
  display: flex;
  flex-direction: column;
  /* min-width: 14.82em; */
}

form {
  max-width: fit-content;
}


footer {
  border: solid black 1px;
  display: flex;
  justify-content: flex-start;  
  text-decoration: none;
  width: 14.82em;
}